apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ts-ui-dashboard
spec:
  serviceName: ts-ui-dashboard
  selector:
    matchLabels:
      app: ts-ui-dashboard
  replicas: 1
  template:
    metadata:
      labels:
        app: ts-ui-dashboard
        online-service-system: train-ticket
        injectable: "true"
    spec:
      containers:
      - name: ts-ui-dashboard
        image: docker.peidan.me/lizytalk/ts-ui-dashboard:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 500m
            memory: 1000Mi
          limits:
            cpu: 1000m
            memory: 2000Mi

---

apiVersion: v1
kind: Service
metadata:
  name: ts-ui-dashboard
spec:
  type: NodePort
  ports:
    - name: http
      port: 8080
      nodePort: 32677
  selector:
   app: ts-ui-dashboard
---
